// animate base
.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

// shake x-axis
@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
}

.shake {
  display: inline-block;
  animation-name: shake;
  animation-duration: 3s;
}
