.video-background {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .filter {
    z-index: 3;
  }

  video {
    object-fit: cover;
    z-index: 2;
  }
}

.video {
  width: 100%;
  position: relative;
  @include aspect-ratio(16,9);

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
